

.App {
  display: flex;
  flex-direction: column;
  height: 100%; /* Prend toute la hauteur de la fenêtre */
  background-color: #f9f9f9;
}

.container {
  flex: 1; /* Fait en sorte que le contenu s'étire */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
