/* RESET BASIQUE */
/* /* src/pages/Home.css */

/* CONTENEUR GLOBAL */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

/* CONTENU PRINCIPAL */
.content {
  flex: 1;
  margin-top: 80px; /* Ajuster selon la hauteur de la navbar */
  padding: 2rem;
  overflow-y: auto; /* scrollable si le contenu est trop grand */
}

/* HEADER */
.home-header {
  margin-bottom: 1.5rem;
}
.home-header h1 {
  font-size: 2rem;
  color: #333;
}
