

/* NAVBAR FIXE */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #48c6ef, #6f86d6);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.4rem;
    color: #fff;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links li {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
  }
  